@keyframes moving-arrow {
  0% {
    left: -12%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 12%;
  }
}
@-webkit-keyframes moving-arrow {
  0% {
    left: -12%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: 12%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.1;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
