.cal-wrap {
	min-width: 40vw;
	right: -2px;
	position: absolute;
	top: 100%;
	width: calc(100% + 4px);
	z-index: 9999;
}
.cal {
	background-color: var(--white);
	border: 1px solid var(--gray3);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	width: auto;
}
.cal-header {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	padding: 10px 10px;
}
.cal-header .cal-header__btn {
	align-items: center;
	background-color: transparent;
	border: 0;
	border-radius: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	outline: 0;
	padding: 10px;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
}
.cal-header .cal-header__btn:hover {
	background-color: var(--gray1);
}
.cal-header .cal-header__btn:focus,
.cal-header .cal-header__btn:active {
	background-color: var(--gray2);
}
.cal-header .cal-header__btn img {
	height: 20px;
	width: 20px;
}

.cal-header .cal-header__label-container {
	align-items: center;
	display: flex;
	font-size: var(--fs-l);
	font-weight: 600;
	justify-content: center;
	width: 100%;
}
.cal-header .cal-header__label {
	cursor: pointer;
	position: relative;
	padding: 5px 0;
}
.cal-header .cal-header__label.space {
	width: 10px;
}
.cal-header .dropdown > div {
	padding: 5px 40px 5px 10px !important;
	font-size: var(--fs);
	font-weight: normal;
}
.cal-header #select-year .dropdown {
	max-height: 30vh;
	overflow: auto;
}

.cal-week {
	background-color: var(--gray1);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.cal-week span {
	flex: 0 0 14.285%;
	max-width: 14.285%;
	padding: 10px 0;
	text-align: center;
}
.cal-week span.bold {
	font-weight: bold;
}

.cal-main {
	display: flex;
	flex-wrap: wrap;
}
.cal-main__date {
	align-items: center;
	display: flex;
	flex: 0 0 14.285%;
	flex-direction: column;
	max-width: 14.285%;
	padding: 5px;
}
.cal-main__date span {
	align-items: center;
	border-color: transparent;
	border-style: solid;
	border-width: 2px;
	border-radius: 50%;
	display: flex;
	height: 30px;
	justify-content: center;
	width: 30px;
	padding: 0;
	text-align: center;
}
.cal-main__date--disabled span {
	background-color: var(--danger-bg);
	border-color: var(--danger-bg);
	cursor: not-allowed;
}
.cal-main__date--disabled span:hover {
	border-color: var(--danger);
}
.cal-main__date--active span {
	cursor: pointer;
}
.cal-main__date--active span:hover {
	border-color: var(--blue3);
}
.cal-main__date--arrival span {
	background-color: var(--blue3) !important;
	color: var(--white);
}
.cal-main__date--departure span {
	background-color: var(--blue3) !important;
	color: var(--white);
}
.cal-main__date--today.cal-main__date--active span {
	background-color: var(--blue8);
}
.cal-main__date--today.cal-main__date--active span:hover {
	border-color: var(--blue3);
}
.cal-main__date--today.cal-main__date--disabled span {
	background-color: #f1c7c7;
	border-color: #f1c7c7;
}
.cal-main__date--today.cal-main__date--disabled span:hover {
	border-color: var(--danger);
}

.cal-footer {
	align-items: center;
	border-top: 1px solid var(--gray2);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: var(--fs-s);
	justify-content: space-between;
	padding: 10px 20px;
}
.cal-footer .cal-footer--button {
	border-radius: 5px;
	border: 1px solid var(--gray5);
	color: var(--gray5);
	cursor: pointer;
	padding: 5px 10px;
}
.cal-footer .cal-footer--button:hover {
	background-color: var(--gray1);
	color: var(--black);
}

/* ---- media queries ---- */

@media (min-width: 380px) {
	.cal-main__date span {
		height: 35px;
		width: 35px;
	}
}
@media (min-width: 576px) {
	.cal-main__date span {
		height: 40px;
		width: 40px;
	}
}
@media (min-width: 768px) {
	.cal-main__date span {
		height: 45px;
		width: 45px;
	}
	.cal-header {
		padding: 15px;
	}
}
@media (min-width: 992px) {
	.cal-main__date span {
		height: 50px;
		width: 50px;
	}
	.cal-header {
		padding: 20px;
	}
	.cal-header .cal-header__btn {
		padding: 20px;
	}
}
@media (min-width: 1200px) {
	.cal-main__date span {
		height: 55px;
		width: 55px;
	}
}
@media (min-width: 1440px) {
	.cal-main__date span {
		height: 60px;
		width: 60px;
	}
}
