@import "_breakpoints.scss";

footer {
  margin-top: auto;
  background-color: var(--gray6);

  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 100px;

    @media (min-width: $bp-n) {
      gap: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      flex: 100%;
      flex-wrap: nowrap;

      @media (min-width: $bp-n) {
        flex: 50%;
      }

      .title {
        cursor: pointer;
        font-size: var(--fs);

        a {
          color: var(--gray2);
          transition: color 250ms ease-in-out;

          &:hover,
          &:active,
          &:focus {
            color: var(--white);
          }
        }
      }
    }

    .contact {
      .contact-row {
        align-items: center;
        display: flex;
        padding: 20px 0;

        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }

        .header {
          color: var(--white);
          font-size: var(--fs-l);
        }

        .title {
          font-size: var(--fs-l);
          margin-left: 20px;
        }
      }
    }

    .legal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      @media (min-width: $bp-n) {
        align-items: flex-end;
        justify-content: flex-end;
      }

      .title {
        padding: 10px 0;

        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }
}
