@use "_breakpoints.scss";

:root {
  --header-height: 0px;
}
@media (min-width: breakpoints.$bp-n) {
  :root {
    --header-height: 54px;
  }
}
@media (min-width: breakpoints.$bp-xl) {
  :root {
    --header-height: 64px;
  }
}

/*-------------------------------------------------
--------------------- header ----------------------
--------------------------------------------------*/

header {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*-------------------------------------------------
	------------------- large header ------------------
	--------------------------------------------------*/

  .l {
    background-color: var(--white);
    box-shadow: 0 6px 10px 0 rgba(33, 33, 33, 0.14),
      0 1px 18px 0 rgba(33, 33, 33, 0.06), 0 3px 10px 0 rgba(33, 33, 33, 0.1);
    display: none;
    height: var(--header-height);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: top;
    z-index: 999;

    &::after {
      content: " ";
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: breakpoints.$bp-n) {
      display: block;
    }

    .header-outer {
      position: relative;
      height: var(--header-height);
      width: 100%;

      .header-inner {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .header-content {
          -ms-flex-align: center;
          align-items: center;
          display: -ms-flexbox;
          display: flex;
          height: var(--header-height);
          margin: 0 auto;
          width: 100%;

          @media (min-width: breakpoints.$bp-n) {
            padding: 0;
          }

          .header-nav {
            -ms-flex-align: center;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            height: 100%;
            flex-grow: 1;

            .header-logo {
              display: flex;
              height: 100%;
              margin-right: 30px;
              position: relative;
              z-index: 1;

              @media (min-width: breakpoints.$bp-l) {
                margin-right: 40px;
              }
              @media (min-width: breakpoints.$bp-xxl) {
                margin-right: 50px;
              }
            }

            .nav {
              background-color: transparent;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-direction: row;
              flex-direction: row;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              flex-grow: 1;
              height: 100%;
              opacity: 1;
              overflow: auto;
              padding: 0;
              transition: none;
              visibility: visible;
              width: auto;
              z-index: 8;
            }

            .nav-item {
              flex: 0 0 auto;
              height: 100%;
              overflow: hidden;
              width: auto;

              & + .nav-item {
                margin-left: 50px;
              }

              .nav-link {
                align-items: center;
                color: var(--blue3);
                cursor: pointer;
                display: flex;
                font-weight: 400;
                font-size: var(--fs-xs);
                height: 100%;
                letter-spacing: 1px;
                overflow: hidden;
                text-transform: uppercase;
                text-align: center;
                transition: all 0.25s ease-in-out;
                white-space: nowrap;

                &:hover {
                  color: var(--blue2);
                }

                &.special {
                  div {
                    border: 1px solid var(--blue3);
                    border-radius: 10px;
                    padding: 8px 15px;
                    transition: all 0.25s ease-in-out;
                  }

                  &:hover > div,
                  &:active > div,
                  &:focus > div {
                    background: var(--blue3);
                    color: var(--white) !important;
                  }
                }

                > span {
                  display: none;

                  @media (min-width: breakpoints.$bp-xl) {
                    display: contents;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /*-------------------------------------------------
	------------------- small header ------------------
	--------------------------------------------------*/

  .s {
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(33, 33, 33, 0.14),
      0 1px 18px 0 rgba(33, 33, 33, 0.06), 0 3px 10px 0 rgba(33, 33, 33, 0.1);
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    padding: 10px;
    position: fixed;
    right: 15px;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: right;
    top: 15px;
    user-select: none;
    width: 40px;
    z-index: 999;

    @media (min-width: breakpoints.$bp-n) {
      display: none !important;
    }

    span {
      background-color: var(--blue3);
      border-radius: 3px;
      display: block;
      height: 3px;
      transition: all 500ms ease-in-out;
      width: 18px; /* 26px */
      z-index: 31;

      &.lower {
        width: 14px; /* 20px */
        margin: 4px 0 0 4px; /* 6px 0 0 6px */
      }
    }

    &.open {
      span.upper {
        transform: rotate(45deg) translate(3px, 3px); /* 3px, 4px */
      }
      span.lower {
        margin: 4px 0 0 0; /* 6px 0 0 0 */
        transform: rotate(-45deg) translate(2px, -1.5px); /* 2px, -2.5px */
        width: 18px; /* 26px */
      }
    }
  }
}

/*-------------------------------------------------
-------------------- side nav ---------------------
--------------------------------------------------*/

aside {
  display: block;

  @media (min-width: breakpoints.$bp-n) {
    display: none !important;
  }

  .nav-collapsed {
    background-color: var(--blue3);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 500ms;
    width: 0;
    z-index: 99;

    &.open {
      width: 70%;

      @media (min-width: breakpoints.$bp-s) {
        width: 45%;
      }
    }

    .side-nav {
      -ms-flex-align-pack: end;
      align-items: flex-end;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      height: auto;
      padding: 120px 20px 0 20px;

      .nav-link {
        color: var(--white);
        cursor: pointer;
        padding: 20px 0;
        opacity: 0.7;
        text-align: end;
        white-space: nowrap;
        width: 100%;

        &:hover {
          opacity: 1;
        }
      }
    }

    .side-nav--logo {
      display: flex;
      justify-content: flex-end;
      margin-top: auto;
      padding: 20px;

      a {
        background-color: white;
        border-radius: 50%;
        padding: 15px;
      }
    }
  }
}
