.icon.caret > img {
	height: 10px;
	width: 10px;
}
.icon.symbol > img {
	height: 15px;
	width: 15px;
}
.icon.symbol.l {
	height: 25px;
	width: 25px;
}
.icon.symbol.l > img,
.icon.symbol.l > svg {
	height: 100%;
	width: 100%;
}
@media (min-width: 380px) {
	.icon.caret > img {
		height: 12.5px;
		width: 12.5px;
	}
	.icon.symbol > img {
		height: 17.5px;
		width: 17.5px;
	}
	.icon.symbol.l {
		height: 27.5px;
		width: 27.5px;
	}
}
@media (min-width: 576px) {
	.icon.caret > img {
		height: 15px;
		width: 15px;
	}
	.icon.symbol > img {
		height: 20px;
		width: 20px;
	}
	.icon.symbol.l {
		height: 30px;
		width: 30px;
	}
}
@media (min-width: 768px) {
	.icon.caret > img {
		height: 17.5px;
		width: 17.5px;
	}
	.icon.symbol > img {
		height: 22.5px;
		width: 22.5px;
	}
	.icon.symbol.l {
		height: 32.5px;
		width: 32.5px;
	}
}
@media (min-width: 992px) {
	.icon.caret > img {
		height: 20px;
		width: 20px;
	}
	.icon.symbol > img {
		height: 25px;
		width: 25px;
	}
	.icon.symbol.l {
		height: 35px;
		width: 35px;
	}
}
@media (min-width: 1200px) {
	.icon.caret > img {
		height: 22.5px;
		width: 22.5px;
	}
	.icon.symbol > img {
		height: 27.5px;
		width: 27.5px;
	}
	.icon.symbol.l {
		height: 37.5px;
		width: 37.5px;
	}
}
@media (min-width: 1440px) {
	.icon.caret > img {
		height: 25px;
		width: 25px;
	}
	.icon.symbol > img {
		height: 30px;
		width: 30px;
	}
	.icon.symbol.l {
		height: 40px;
		width: 40px;
	}
}

/*-------------------------------------------------
--------------------- cross -----------------------
--------------------------------------------------*/

div.cross {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	height: 100%; /* this can be anything */
	width: 100%; /* ...but maintain 1:1 aspect ratio */
}
div.cross::before,
div.cross::after {
	border-radius: 4px;
	position: absolute;
	content: "";
	width: 80%;
	height: 4px; /* cross thickness */
	background-color: white;
}
div.cross::before {
	transform: rotate(45deg);
}
div.cross::after {
	transform: rotate(-45deg);
}
@media (min-width: 768px) {
	div.cross::before,
	div.cross::after {
		width: 90%;
	}
}
@media (min-width: 1200px) {
	div.cross::before,
	div.cross::after {
		width: 100%;
		height: 5px; /* cross thickness */
	}
}

/*-------------------------------------------------
------------------- fullscreen --------------------
--------------------------------------------------*/
.fullscreen {
	vertical-align: middle;
	display: inline-block;
	border: 0.1em solid #04233d;
	width: 1em;
	height: 1em;
	position: relative;
}
.fullscreen:before,
.fullscreen:after {
	content: "";
	background: #04233d;
	position: absolute;
}
.fullscreen:before {
	width: 0.333em;
	height: 1em;
	left: 0.233em;
	top: -0.1em;
}
.fullscreen:after {
	width: 1em;
	height: 0.333em;
	top: 0.233em;
	left: -0.1em;
}
