.mask {
	background-color: white;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999999;
}

.transition-element {
	background-color: var(--blue4);
	height: 100%;
	left: 0;
	position: fixed;
	top: 100vh;
	width: 100%;
	z-index: 99999999;
	transition: all 1000ms linear;
}
