section.main #id-5 {
	.pricing {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 20px;
		justify-content: center;
		width: 100%;

		@media (min-width: 380px) {
			gap: 30px;
		}
		@media (min-width: 576px) {
			gap: 40px;
		}
		@media (min-width: 768px) {
			gap: 60px;
		}
		@media (min-width: 992px) {
			gap: 80px;
		}
		@media (min-width: 1200px) {
			gap: 100px;
		}
		@media (min-width: 1400px) {
			gap: 150px;
		}

		.card {
			align-items: center;
			background-color: aliceblue;
			border-radius: 30px;
			border: 3px solid var(--blue3);
			color: var(--blue2);
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			flex: 1 1 auto;
			margin-top: 60px;
			overflow: hidden;

			@media (min-width: 380px) {
				flex: 1 0 300px;
			}
			@media (min-width: 576px) {
				flex: 1 0 350px;
			}
			@media (min-width: 992px) {
				margin-top: 80px;
			}
			@media (min-width: 1400px) {
				margin-top: 100px;
			}

			.card-header {
				align-items: center;
				background: var(--blue3);
				background: linear-gradient(
					145deg,
					var(--blue3) 0%,
					var(--blue4) 38%,
					var(--blue7) 100%
				);
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 30px 5px;
				text-transform: uppercase;
				width: 100%;

				.specifier {
					font-size: var(--fs-xs);
					color: var(--white);
					letter-spacing: 7px;
					margin-bottom: 15px;
					word-break: break-word;
					text-align: center;
				}

				.name {
					font-size: var(--fs-L);
					color: var(--white);
					letter-spacing: 10px;
					font-weight: 600;
				}
			}

			.card-main {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				padding: 10px 0;
				width: 100%;

				.card-main--row {
					align-items: center;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					padding: 20px 20px;

					@media (min-width: 576px) {
						padding: 20px 25px;
					}
					@media (min-width: 768px) {
						padding: 20px 30px;
					}
					@media (min-width: 992px) {
						padding: 30px 30px;
					}

					.extras {
						font-size: var(--fs-s);
					}

					.price-wrap {
						--gap: 20px;
						align-items: flex-end;
						display: inline-flex;
						flex-direction: column;
						margin-top: calc(-1 * var(--gap));
						height: calc(100% + var(--gap));
						@media (min-width: 992px) {
							--gap: 25px;
						}

						> div {
							margin-top: var(--gap);
						}
					}

					.price {
						font-size: var(--fs-l);
						position: relative;
						text-align: right;

						&.large {
							font-size: var(--fs-L);
						}

						.note {
							font-size: var(--fs-xs);
							position: absolute;
							right: 0;
							white-space: nowrap;
						}
					}
				}

				.panel .panel-row {
					align-items: center;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-between;
					padding: 15px 15px;
				}

				.season {
					display: flex;
					font-size: var(--fs-l);
					gap: 10px;

					.icon {
						align-items: center;
						display: flex;
						transition: transform 0.2s linear;
					}
				}

				.card-footer {
					align-items: center;
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
					margin-top: 50px;
					width: 100%;

					button {
						background: var(--blue3);
						background: linear-gradient(
							90deg,
							var(--blue3) 5%,
							var(--blue7) 100%
						);
						border: transparent;
						border-radius: 40px;
						color: var(--white);
						cursor: pointer;
						font-size: var(--fs-l);
						letter-spacing: 1px;
						outline: 0;
						overflow: hidden;
						padding: 15px 25px;
						width: 50%;
						text-transform: uppercase;
						transition: all 0.5s ease-in-out;
						z-index: 40;

						&:active,
						&:focus,
						&:hover {
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
}
