footer section.footer #id-7 {
	background-color: var(--gray6);

	.footer-wrap {
		padding: 50px 0;

		.contact {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;

			.contact-row {
				align-items: center;
				display: flex;
				padding: 20px 0;

				.header {
					color: var(--white);
					font-size: var(--fs-l);
				}

				.title {
					cursor: pointer;
					font-size: var(--fs-l);
					margin-left: 20px;

					a {
						color: var(--white);
					}
				}
			}
		}
	}
}
