section.main #id-6 .details {
	width: 100%;
	line-height: 25px;
	padding: 40px 0;

	@media (min-width: 380px) {
		line-height: 30px;
	}
	@media (min-width: 576px) {
		line-height: 35px;
	}
	@media (min-width: 768px) {
		line-height: 40px;
	}
	@media (min-width: 992px) {
		padding: 60px 0;
	}
	@media (min-width: 1200px) {
		line-height: 50px;
	}
	@media (min-width: 1400px) {
		padding: 80px 0;
	}

	.row {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		& + .row {
			margin-top: 30px;

			@media (min-width: 992px) {
				margin-top: 35px;
			}
		}

		.row-title {
			font-size: var(--fs-l);
			font-weight: 700;
			margin-bottom: 10px;
		}

		.row-content {
			display: flex;
			flex-direction: column;
			padding: 10px 0;

			@media (min-width: 992px) {
				flex-direction: row;
			}

			.row-content--title {
				font-style: italic;

				@media (min-width: 992px) {
					flex-basis: 200px;
					flex-shrink: 0;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	section.main .details .row-content {
		flex-direction: row;
	}
	section.main .details .row-content--title {
		flex-basis: 200px;
		flex-shrink: 0;
	}
	section.main .details .row + .row {
		margin-top: 35px;
	}
}
