:root {
	--white: #fff;
	--gray1: #f3f3f3;
	--gray2: #dee0e2;
	--gray3: #cccccc;
	--gray4: #c4c4c4;
	--gray5: #6c757d;
	--gray6: #343a40;
	--gray7: #303030;
	--success: #28a745;
	--success-bg: #e1fce7;
	--info: #17a2b8;
	--info-bg: #e9f3fa;
	--warning: #ffc107;
	--warning-bg: #fcf6e5;
	--danger: #dc3545;
	--danger-bg: #fcecec;
	--danger-border: #ebccd1;
	--black: #1e1e1e;
	--blue1: #150734;
	--blue2: #0f2557;
	--blue3: #28559a;
	--blue4: #3778c2;
	--blue5: #4b9fe1;
	--blue6: #63bce5;
	--blue7: #7ed5ea;
	--blue8: #e1edff;
	--main-color: #28559a;
	--main-color--hover: #0f2557;
}

/* ---- font size ---- */

:root {
	--fs-xs: 10px !important;
	--fs-s: 12px !important;
	--fs: 14px !important;
	--fs-l: 16px !important;
	--fs-L: 20px !important;
	--fs-h: 26px !important;
	--fs-H: 34px !important;
}
@media (min-width: 380px) {
	:root {
		--fs-xs: 11px !important;
		--fs-s: 13px !important;
		--fs: 15px !important;
		--fs-l: 17px !important;
		--fs-L: 22px !important;
		--fs-h: 28px !important;
		--fs-H: 38px !important;
	}
}
@media (min-width: 576px) {
	:root {
		--fs-xs: 12px !important;
		--fs-s: 14px !important;
		--fs: 16px !important;
		--fs-l: 18px !important;
		--fs-L: 24px !important;
		--fs-h: 32px !important;
		--fs-H: 44px !important;
	}
}
@media (min-width: 768px) {
	:root {
		--fs-xs: 13px !important;
		--fs-s: 15px !important;
		--fs: 17px !important;
		--fs-l: 20px !important;
		--fs-L: 26px !important;
		--fs-h: 36px !important;
		--fs-H: 50px !important;
	}
}
@media (min-width: 992px) {
	:root {
		--fs-xs: 14px !important;
		--fs-s: 16px !important;
		--fs: 18px !important;
		--fs-l: 21px !important;
		--fs-L: 28px !important;
		--fs-h: 40px !important;
		--fs-H: 60px !important;
	}
}
@media (min-width: 1200px) {
	:root {
		--fs-xs: 15px !important;
		--fs-s: 17px !important;
		--fs: 19px !important;
		--fs-l: 22px !important;
		--fs-L: 30px !important;
		--fs-h: 46px !important;
		--fs-H: 70px !important;
	}
}
@media (min-width: 1440px) {
	:root {
		--fs-xs: 16px !important;
		--fs-s: 18px !important;
		--fs: 20px !important;
		--fs-l: 24px !important;
		--fs-L: 34px !important;
		--fs-h: 50px !important;
		--fs-H: 80px !important;
	}
}
@media (min-width: 1999px) {
	:root {
		--fs-xs: 18px !important;
		--fs-s: 20px !important;
		--fs: 22px !important;
		--fs-l: 28px !important;
		--fs-L: 40px !important;
		--fs-h: 56px !important;
		--fs-H: 90px !important;
	}
}

/* ---- media queries for variables ---- */

:root {
	--content-padding: 15px;
	--font-fancy: "Dancing Script", cursive;
	--line-height: 25px;
	--header-height: 0px;
	--section-title-padding-top: 60px;
	--section-title-padding-top-small: 40px;
	--slider-height-landscape: 40vh;
	--slider-thumbnail-image-max-width: 40px;
}

@media (min-width: 380px) {
	:root {
		--line-height: 30px;
	}
}
@media (min-width: 576px) {
	:root {
		--line-height: 35px;
	}
}
@media (min-width: 768px) {
	:root {
		--header-height: 64px;
		--line-height: 40px;
	}
}
@media (min-width: 992px) {
	:root {
		--section-title-padding-top: 80px;
		--section-title-padding-top-small: 60px;
	}
}
@media (min-width: 1200px) {
	:root {
		--line-height: 50px;
	}
}
@media (min-width: 1440px) {
	:root {
		--section-title-padding-top: 100px;
		--section-title-padding-top-small: 80px;
	}
}
/* @media (min-width: 1999px) {
	:root {
	}
} */

/* ---- icons ---- */

.icon.caret > img {
	height: 10px;
	width: 10px;
}
.icon.symbol > img {
	height: 15px;
	width: 15px;
}
@media (min-width: 380px) {
	.icon.caret > img {
		height: 12.5px;
		width: 12.5px;
	}
	.icon.symbol > img {
		height: 17.5px;
		width: 17.5px;
	}
}
@media (min-width: 576px) {
	.icon.caret > img {
		height: 15px;
		width: 15px;
	}
	.icon.symbol > img {
		height: 20px;
		width: 20px;
	}
}
@media (min-width: 768px) {
	.icon.caret > img {
		height: 17.5px;
		width: 17.5px;
	}
	.icon.symbol > img {
		height: 22.5px;
		width: 22.5px;
	}
}
@media (min-width: 992px) {
	.icon.caret > img {
		height: 20px;
		width: 20px;
	}
	.icon.symbol > img {
		height: 25px;
		width: 25px;
	}
}
@media (min-width: 1200px) {
	.icon.caret > img {
		height: 22.5px;
		width: 22.5px;
	}
	.icon.symbol > img {
		height: 27.5px;
		width: 27.5px;
	}
}
@media (min-width: 1440px) {
	.icon.caret > img {
		height: 25px;
		width: 25px;
	}
	.icon.symbol > img {
		height: 30px;
		width: 30px;
	}
}

/* ---- disable scroll bar ---- */

@-moz-document url-prefix() {
	/* Disable scrollbar Firefox */
	html {
		scrollbar-width: none;
	}
}
html {
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar {
	display: none; /* Chrome, Safari and Opera */
}

/* ---- global properties ---- */

body {
	font-family: "Nunito", "sans serif";
	font-size: var(--fs);
}
.page-wrapper {
	position: relative;
	min-height: 100vh;
}
.separator {
	background: transparent;
	height: 70px;
	width: 100%;
}

sup {
	font-size: var(--fs-s);
}
:focus {
	outline: none !important;
}

.flex-push-to-right {
	margin-left: auto !important;
}
.flex-even {
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;
}

.pos-abs {
	position: absolute;
}

.bg {
	height: 100%;
	position: absolute;
	user-select: none;
	width: 100%;
}
.modal {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	left: 0;
	height: 100%;
	justify-content: center;
	overflow: auto;
	padding: 0;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999998;
}
.hidden {
	display: none !important;
}
.visible {
	visibility: visible !important;
}
.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rotate90deg {
	transform: rotateZ(90deg);
}
.rotate180deg {
	transform: rotateZ(180deg);
}
.rotate270deg {
	transform: rotateZ(270deg);
}

/* ---- header ---- */
header {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
header.l {
	background-color: var(--white);
	box-shadow: 0 6px 10px 0 rgba(33, 33, 33, 0.14),
		0 1px 18px 0 rgba(33, 33, 33, 0.06), 0 3px 10px 0 rgba(33, 33, 33, 0.1);
	display: none;
	height: var(--header-height);
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-property: top;
	z-index: 999;
}
.header-outer {
	position: relative;
	height: var(--header-height);
	width: 100%;
}
header.l::after {
	content: " ";
	display: block;
	margin: 0 auto;
	width: 100%;
}

.header-inner {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.header-content {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	height: var(--header-height);
	margin: 0 auto;
	width: 100%;
}

.header-logo {
	position: relative;
	z-index: 1;
}

.header-nav {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	flex-grow: 1;
}
.header-nav .nav {
	background-color: transparent;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-grow: 1;
	top: auto;
	left: auto;
	height: auto;
	opacity: 1;
	overflow: auto;
	padding: 0;
	transition: none;
	visibility: visible;
	width: auto;
	z-index: 8;
}
.header-nav .nav .nav-item {
	flex: 0 0 auto;
	width: auto;
	overflow: hidden;
}
.header-nav .nav .nav-item:hover .nav-link {
	color: var(--main-color--hover);
}
.header-nav .nav .nav-item + .nav-item {
	margin-left: 50px;
}
.header-nav .nav-link {
	color: var(--main-color);
	cursor: pointer;
	display: block;
	font-weight: 400;
	font-size: var(--fs-xs);
	letter-spacing: 1px;
	overflow: hidden;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	transition: all 0.25s ease-in-out;
	white-space: nowrap;
}
.header-nav .nav-link.special {
	border: 1px solid var(--main-color);
	border-radius: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
.header-nav .nav-link.special:hover,
.header-nav .nav-link.special:active,
.header-nav .nav-link.special:focus {
	background: var(--main-color);
	color: var(--white) !important;
}
.header-nav .nav-link > span {
	display: none;
}

header.s {
	-ms-flex-align: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 50%;
	box-shadow: 0 6px 10px 0 rgba(33, 33, 33, 0.14),
		0 1px 18px 0 rgba(33, 33, 33, 0.06), 0 3px 10px 0 rgba(33, 33, 33, 0.1);
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	-ms-flex-pack: center;
	justify-content: center;
	height: 40px;
	padding: 10px;
	position: fixed;
	right: 15px;
	transition-duration: 300ms;
	transition-timing-function: ease-in-out;
	transition-property: right;
	top: 15px;
	user-select: none;
	width: 40px;
	z-index: 999;
}
header.s span {
	background-color: var(--main-color);
	border-radius: 3px;
	display: block;
	height: 3px;
	transition: all 500ms ease-in-out;
	width: 18px; /* 26px */
	z-index: 31;
}
header.s span.lower {
	width: 14px; /* 20px */
	margin: 4px 0 0 4px; /* 6px 0 0 6px */
}
header.s.open span.upper {
	transform: rotate(45deg) translate(3px, 3px); /* 3px, 4px */
}
header.s.open span.lower {
	margin: 4px 0 0 0; /* 6px 0 0 0 */
	transform: rotate(-45deg) translate(2px, -1.5px); /* 2px, -2.5px */
	width: 18px; /* 26px */
}

aside.nav-collapsed {
	background-color: var(--blue3);
	height: 100vh;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 500ms;
	width: 0;
	z-index: 99;
}
aside.open.nav-collapsed {
	width: 70%;
}
aside.nav-collapsed .side-nav {
	-ms-flex-align-pack: end;
	align-items: flex-end;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: auto;
	padding: 120px 20px 0 20px;
}
aside.nav-collapsed .nav-link {
	color: var(--white);
	cursor: pointer;
	padding: 20px 0;
	opacity: 0.7;
	white-space: nowrap;
}
aside.nav-collapsed .nav-link:hover {
	opacity: 1;
}

@media (min-width: 380px) {
	.header-nav .nav-collapsed.open .side-nav {
		width: 60%;
	}
}
@media (min-width: 576px) {
	.has-max-width {
		max-width: calc(100% - 50px);
	}
	aside.nav-collapsed.open {
		width: 45%;
	}
}
@media (min-width: 768px) {
	.has-max-width {
		max-width: 720px;
	}
	.header-content {
		padding: 0;
	}
	header.l {
		display: block;
	}
	.bg {
		height: calc(100% - var(--header-height));
	}
	header.s,
	aside {
		display: none !important;
	}
}
@media (min-width: 992px) {
	.has-max-width {
		max-width: calc(100% - 90px);
	}
	.header-nav .nav-link > span {
		display: contents;
	}
}
@media (min-width: 1200px) {
	.has-max-width {
		max-width: 80%;
	}
}

/* ---- multiply used ---- */

.content {
	display: -ms-flexbox !important;
	display: flex;
	font-size: var(--fs);
	height: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	padding-left: var(--content-padding);
	padding-right: var(--content-padding);
	position: relative;
	width: 100%;
}

.tooltip .tooltiptext {
	background-color: var(--gray5);
	border-radius: 6px;
	bottom: 180%;
	color: var(--white);
	left: 50%;
	margin-left: -100px;
	opacity: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	transition: opacity 0.3s linear, visibility 0.3s linear;
	visibility: hidden;
	width: 200px;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
.tooltip-top {
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
}
.tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%; /* At the bottom of the tooltip */
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: var(--gray5) transparent transparent transparent;
}

/* ---- landing ---- */

section.landing {
	height: calc(640px + var(--header-height));
	position: relative;
	padding-top: var(--header-height);
}
section.landing .content {
	align-content: space-between;
	flex-direction: column;
	padding-bottom: 64px;
	padding-top: 64px;
}
section.landing .landing-wrap {
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	padding-bottom: 20px;
	width: 100%;
}

/* ---- landing: title ---- */

section.landing .main-title {
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: var(--fs-H);
	-ms-flex-pack: center;
	justify-content: center;
}
section.landing .title {
	width: 100%;
}

section.landing .title .text-container {
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 10px;
}
section.landing .title .text {
	color: var(--white);
	display: block;
	font-size: inherit;
	font-family: var(--font-fancy);
	text-shadow: 0 0 10px var(--black);
}

section.landing .desc {
	color: var(--white);
	font-size: var(--fs-h);
	padding: 10px 10px;
	text-align: center;
	text-shadow: 0 0 10px var(--black);
}
section.landing .desc div {
	display: -ms-flexbox;
	display: flex;
	font-family: var(--font-fancy);
	-ms-flex-pack: center;
	justify-content: center;
}

/* ---- landing: form ---- */

section.landing .form-wrap {
	align-items: center;
	display: flex;
	position: relative;
}
section.landing .form-wrap--bg {
	background-color: var(--white);
	border: solid 2px var(--blue2);
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px var(--blue3);
	display: block;
	height: calc(100%);
	/* left: -2px; */
	opacity: 0.95;
	position: absolute;
	/* top: -2px; */
	width: calc(100%);
}
section.landing .form {
	/* -webkit-tap-highlight-color: transparent; */
	background-color: transparent;
	align-items: center;
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
	flex-direction: column;
	height: max-content;
	padding: 10px;
	user-select: none;
	width: 100%;
	z-index: 60;
}
section.landing .form .form-field-wrap {
	display: inline-block;
	width: 100%;
}
section.landing .form .form-field-wrap + .form-field-wrap {
	padding-top: 10px;
}
section.landing .form .form-field {
	border: solid 1px var(--gray4);
	border-radius: 3px;
	display: flex;
	height: auto;
	position: relative;
	width: 100%;
}

section.landing .form .form-field .select {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-wrap: nowrap;
	height: 50px;
	padding: 0 15px;
	width: 100%;
}
section.landing .form .form-field#select-guests .select,
section.landing .form .form-field#select-house .select,
section.landing .form .form-field#select-extras .select {
	cursor: pointer;
}
section.landing .form .form-field .select .icon {
	display: -ms-flexbox;
	display: flex;
	padding: 10px 0;
	user-select: none;
}
section.landing .form .form-field .select .selection {
	color: var(--gray7);
	display: inline-block;
	font-size: var(--fs);
	font-weight: 600;
	padding-left: 15px;
	padding-right: 5px;
}
section.landing .form .form-field .select .selection.faded {
	color: var(--gray4);
	font-size: var(--fs-s);
	font-weight: normal;
}
section.landing .form .form-field .select .caret img {
	transition: transform 0.2s linear;
}

section.landing .form .form-field .dropdown,
section.landing .form .form-field .selector {
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: var(--white);
	box-shadow: 0 1px 2px 1px var(--gray4);
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	height: auto;
	left: 0;
	min-width: 100%;
	position: absolute;
	top: 100%;
	width: max-content;
	z-index: 1000;
}
section.landing .form .form-field .dropdown > div,
section.landing .form .form-field .selector > div {
	background-color: var(--white);
	color: var(--gray7);
	cursor: pointer;
	padding: 15px 15px;
	text-align: left;
	user-select: none;
}
section.landing .form .form-field .dropdown > div:not(:last-child),
section.landing .form .form-field .selector > div:not(:last-child) {
	border-bottom: 1px solid var(--gray3);
}
section.landing .form .form-field .dropdown > div:hover,
section.landing .form .form-field .selector > div:hover {
	background-color: var(--gray2);
	color: var(--black);
}

section.landing .form .form-field .selector .selector-option {
	align-items: center;
	display: flex;
	justify-content: space-between;
}
section.landing .form .form-field .selector .selector-option--checkbox {
	align-items: center;
	border: 1px solid var(--gray7);
	border-radius: 3px;
	display: flex;
	height: 20px;
	justify-content: center;
	position: relative;
	width: 20px;
}
/* section.landing .form .form-field .selector .selector-option--checkbox:after {
	color: var(--black);
	content: "X";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 3px;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	width: 100%;
} */
section.landing .form .form-field .selector .selector-option--checkbox > span {
	align-items: center;
	color: var(--black);
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0;
	transition-duration: 300ms;
	transition-property: all;
	transition-timing-function: ease-in-out;
	width: 100%;
}
section.landing
	.form
	.form-field
	.selector
	.selector-option.active
	.selector-option--checkbox
	> span {
	opacity: 1;
}

section.landing .form .dates-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 100%;
	padding-left: 15px;
}
section.landing .form .dates-wrap .date-inp {
	flex-grow: 1;
	height: 100%;
	position: relative;
}
section.landing .form .dates-wrap .spacer {
	align-items: center;
	display: flex;
	font-size: var(--fs-xs);
	height: calc(100% - 2px);
	margin-bottom: 1px;
	margin-top: 1px;
	padding: 18px 30px 0 5px;
}
section.landing .form .dates-wrap input.date-picker {
	background-color: transparent;
	border: 0;
	font-size: var(--fs);
	text-decoration: unset;
	display: block;
	cursor: pointer;
	height: 100%;
	padding: 18px 5px 0 5px;
	width: 100%;
}
section.landing .form .dates-wrap input.date-picker:hover {
	background-color: var(--gray1);
	opacity: 0.9;
}
section.landing .form .dates-wrap input.date-picker.active {
	background-color: var(--gray2);
}
section.landing .form .dates-wrap .date-label {
	align-items: center;
	font-size: var(--fs);
	color: var(--gray5);
	display: flex;
	height: 100%;
	padding-left: 5px;
	pointer-events: none;
	position: absolute;
	top: 0;
	transition: all 500ms ease-out;
}
section.landing .form .dates-wrap input:focus ~ .date-label,
section.landing
	.form
	.dates-wrap
	.date-picker[data-has-value="true"]
	~ .date-label {
	font-size: var(--fs-xs);
	top: -10px;
}

section.landing .form .form-button {
	align-items: center;
	background-color: var(--blue7);
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: flex;
	height: auto;
	width: 100%;
	transition-duration: 500ms;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
}
section.landing .form .form-button:hover {
	background-color: var(--blue6);
}
section.landing .form .form-button .container {
	align-items: center;
	display: flex;
	justify-content: center;
	pointer-events: none;
	user-select: none;
	width: 100%;
}
section.landing .form .form-button .form-button--text {
	color: var(--white);
	font-size: var(--fs-L);
}
section.landing .form .form-button img {
	background-color: transparent;
	display: none;
	height: 30px;
	position: relative;
	width: 30px;
}

/* ---- landing: media queries ---- */

@media (min-width: 576px) {
}
@media (min-width: 768px) {
	section.landing {
		height: calc(710px + var(--header-height));
	}
	section.landing .desc {
		padding-top: 20px;
	}
}
@media (min-width: 992px) {
	section.landing {
		height: calc(640px + var(--header-height));
	}
	section.landing .form {
		flex-direction: row;
	}
	section.landing .form .form-field-wrap + .form-field-wrap {
		padding-top: 0;
		padding-left: 10px;
	}
	section.landing .form .form-field-wrap:first-child {
		width: 20%;
	}
	section.landing .form .form-field-wrap:nth-child(2) {
		width: 15%;
	}
	section.landing .form .form-field-wrap:nth-child(3) {
		width: 20%;
	}
	section.landing .form .form-field-wrap:nth-child(4) {
		width: 37%;
	}
	section.landing .form .form-field-wrap:nth-child(5) {
		width: 8%;
	}
	section.landing .form .form-field .select {
		height: 80px;
	}
	section.landing .form .dates-wrap input.date-picker {
		padding-top: 30px;
	}
	section.landing .form .dates-wrap .spacer {
		padding-top: 30px;
	}
	section.landing .form .dates-wrap input:focus ~ .date-label,
	section.landing
		.form
		.dates-wrap
		.date-picker[data-has-value="true"]
		~ .date-label {
		top: -15px;
	}
	section.landing .form .form-button .form-button--text {
		display: none;
	}
	section.landing .form .form-button img {
		height: 35px;
		width: 35px;
		animation: linear infinite alternate;
		animation-name: moving-arrow;
		animation-duration: 2s;
		display: block;
		position: relative;
		-webkit-animation: linear infinite alternate;
		-webkit-animation-name: moving-arrow;
		-webkit-animation-duration: 2s;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width: 1200px) {
	section.landing {
		height: calc(820px + var(--header-height));
	}
	section.landing .form {
		padding: 15px;
	}
	section.landing .form .form-field-wrap + .form-field-wrap {
		padding-top: 0;
		padding-left: 15px;
	}
	section.landing .desc {
		padding-top: 30px;
	}
}
@media (min-width: 1999px) {
	section.landing {
		height: calc(1040px + var(--header-height));
	}
}

/* ---- intro ---- */

section.intro #id-1.content-bg {
	background-color: var(--gray1);
}

section.intro .content {
	margin-top: 80px;
	padding-bottom: 0;
}
section.intro .welcome-wrap {
	width: 100%;
}
section.intro .welcome {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 60px 0;
	width: 100%;
}

section.intro .welcome .text {
	font-family: var(--font-fancy);
	font-size: var(--fs-h);
	padding: 0;
	text-align: center;
	width: 100%;
}

section.intro .welcome .underline-spacer {
	background-color: var(--gray5);
	border: 0;
	border-radius: 5px;
	height: 2px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 50vw;
}
section.intro .welcome .desc-main {
	width: 100%;
	font-size: var(--fs);
	line-height: var(--line-height);
	text-align: justify;
}
section.intro .welcome .desc-text {
	width: 100%;
}
section.intro .welcome .desc-text:first-child {
	margin-bottom: 10px;
}
section.intro .welcome .desc-final {
	font-size: var(--fs-l);
	font-family: var(--font-fancy);
	padding-right: 30px;
	padding-top: 20px;
	text-align: right;
	width: 100%;
}

/* ---- slider ---- */

section.main .slider.default {
	cursor: pointer;
	border: 1px solid var(--gray2);
}
.slider.max {
	pointer-events: none;
}
.slider > div.img {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider.default .container {
	height: 100%;
	pointer-events: none;
	width: 100%;
}

.slider.max .container {
	align-items: center;
	display: flex;
	left: 0;
	height: 100%;
	justify-content: center;
	overflow: auto;
	padding: 0;
	pointer-events: none;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999999;
}
.slider.default .img .container .cover {
	pointer-events: none;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.slider.max .img .container .cover {
	pointer-events: none;
	position: relative;
	overflow: hidden;
	height: auto;
	width: auto;
}

.slider.default .container img {
	position: absolute;
	min-width: 1000%;
	min-height: 1000%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0.1);
	z-index: -1;
}
.slider.max .container img {
	pointer-events: all;
	max-width: 92vw;
	min-width: 0;
	max-height: 92vh;
	min-height: 0;
}

.slider-wrap {
	background-color: transparent;
	height: auto;
	user-select: none;
	width: auto;
}
.slider-wrap .slider {
	max-width: 100%;
	position: relative;
}
.slider-wrap .slider > div {
	width: 100%;
	max-width: 100%;
}
.slider-wrap.landscape .slider > div {
	height: 65vh;
}
.slider-wrap.portrait .slider > div {
	height: var(--slider-height-portrait);
}

.slider-wrap .slider > div.img.tns-item.tns-normal {
	pointer-events: none !important;
}

.customize-tools {
	position: relative;
	padding: 0 50px;
}
.customize-tools .thumbnails {
	margin-top: 20px;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	scroll-behavior: smooth;
	text-align: center;
	white-space: nowrap;
}
.customize-tools .thumbnails .tns-nav-active {
	background: none;
	border-color: #1e1e1e;
}
.customize-tools .thumbnails li {
	border: 5px solid #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px;
	width: auto;
}
.customize-tools .thumbnails li img {
	vertical-align: bottom;
	height: auto;
	max-height: var(--slider-thumbnail-image-max-width);
}

.customize-tools .controls {
	text-align: center;
}
.customize-tools .controls li {
	display: block;
	position: absolute;
	top: 5px;
	/* top: 50%; */
	/* height: 60px; */
	/* line-height: 60px; */
	/* margin: -30px 15px 0 15px; */
	padding: 0;
	cursor: pointer;
	transition: background-color 0.3s;
	z-index: 1;
}
.customize-tools .controls li img {
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	height: var(--slider-thumbnail-image-max-width);
	vertical-align: middle;
	width: var(--slider-thumbnail-image-max-width);
}
.customize-tools .controls li img:hover {
	background-color: #f2f2f2;
}
.customize-tools .controls .prev {
	left: 0;
	margin-left: 0;
}
.customize-tools .controls .next {
	margin-right: 0;
	right: 0;
}

.customize-tools .tns-nav {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 50%;
	height: 40px;
	margin-left: -60px;
	width: 120px;
	z-index: 50;
}
.customize-tools .tns-nav > [aria-controls] {
	background-color: var(--gray3);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	height: 9px;
	margin: 0 5px;
	padding: 0;
	width: 9px;
}

.customize-tools .tns-nav > .tns-nav-active {
	background-color: var(--gray5);
}
.tns-fadeIn {
	z-index: unset !important;
}

#slider-landing-ow,
#slider-landing-iw,
#slider-landing,
#slider-landing > div {
	height: 100%;
	cursor: auto;
}

/* ---- main ---- */

section.main #id-2.content-bg {
	background-color: transparent;
}
section.main #id-3.content-bg {
	background-color: transparent;
}

section.main .content {
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 50px;
	width: 100%;
}
section.main .slider-wrap {
	max-width: 100%;
	width: 100%;
}

section.main .title {
	border-bottom: solid 1px var(--blue3);
	color: var(--blue2);
	font-size: var(--fs-h);
	padding: 1rem;
	text-align: center;
}

section.main .info-grid {
	align-items: center;
	display: grid;
	row-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	font-weight: 200;
	font-style: italic;
	padding: var(--section-title-padding-top-small) 0;
	width: 100%;
}
section.main .info-grid .grid-item {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: max-content;
}
section.main .info-grid .icon {
	display: block;
	height: 20px;
	width: 20px;
}
section.main .info-grid .icon img {
	max-height: 20px;
	max-width: 20px;
	height: 20px;
	width: 20px;
}
section.main .info-grid .text {
	padding-left: 15px;
}

section.main .desc-text {
	width: 100%;
	line-height: var(--line-height);
	text-align: justify;
	padding: var(--section-title-padding-top-small) 0;
}
section.main .desc-text > div:not(:last-child) {
	margin-bottom: 10px;
}

/* ---- main: button ----*/

section.main .btn {
	align-items: center;
	background-color: transparent;
	border-radius: 10px;
	border: 2px solid var(--blue5);
	cursor: pointer;
	display: flex;
	font-size: var(--fs-l);
	height: 60px;
	justify-content: center;
	margin-top: 50px;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	width: 200px;
}
section.main .btn-link {
	color: var(--blue5);
	outline: none;
	text-transform: uppercase;
}
section.main .btn:hover {
	background-color: rgba(75, 159, 225, 0.1);
}
section.main .btn:hover .btn-link {
	color: var(--blue4);
}

/* ---- main: pricing ---- */

section.main .pricing {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	padding-top: var(--section-title-padding-top);
}
section.main .pricing .card {
	background-color: aliceblue;
	border-radius: 30px;
	border: 3px solid var(--main-color);
	color: var(--main-color--hover);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 0 auto;
	margin-bottom: 80px;
	overflow: hidden;
}

section.main .pricing .card-header {
	align-items: center;
	background: var(--blue3);
	background: linear-gradient(
		145deg,
		var(--blue3) 0%,
		var(--blue4) 38%,
		var(--blue7) 100%
	);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 0;
	text-transform: uppercase;
}
section.main .pricing .card-header .specifier {
	font-size: var(--fs-xs);
	color: var(--white);
	letter-spacing: 7px;
	margin-bottom: 15px;
}
section.main .pricing .card-header .name {
	font-size: var(--fs-L);
	color: var(--white);
	letter-spacing: 10px;
	font-weight: 600;
}
section.main .pricing .card-main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 10px 0;
}
section.main .pricing .card-main--row {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 20px 20px;
}
section.main .pricing .card-main--row .season {
	font-size: var(--fs-l);
}
section.main .pricing .card-main--row .extras {
	font-size: var(--fs-s);
}
section.main .pricing .card-main--row .note {
	font-size: var(--fs-xs);
	position: absolute;
	right: 0;
	white-space: nowrap;
}

section.main .pricing .card-main--row .price {
	font-size: var(--fs-l);
	position: relative;
}
section.main .pricing .card-main--row .price.large {
	font-size: var(--fs-L);
}

section.main .pricing .card-footer {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	margin-top: 50px;
	width: 100%;
}
section.main .pricing .card-footer button {
	background: var(--blue3);
	background: linear-gradient(90deg, var(--blue3) 5%, var(--blue7) 100%);
	border: transparent;
	border-radius: 40px;
	color: var(--white);
	cursor: pointer;
	font-size: var(--fs-l);
	letter-spacing: 1px;
	outline: 0;
	overflow: hidden;
	padding: 15px 25px;
	width: 50%;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
	z-index: 40;
}
section.main .pricing .card-footer button:hover,
section.main .pricing .card-footer button:focus,
section.main .pricing .card-footer button:active {
	transform: scale(1.1);
}

/* ---- main: special ---- */

section.main #id-4 .info-grid {
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	padding: 0;
}
section.main #id-4 .icon {
	background-color: var(--gray6);
	border-radius: 50%;
	height: 8px;
	width: 8px;
}
section.main #ahoi-bath {
	cursor: pointer;
	display: inline-block;
	position: relative;
	text-decoration: underline;
}

/* ---- main: map ---- */

section.main .map {
	height: 55vh;
	margin-top: var(--section-title-padding-top-small);
	padding: 0;
	width: 100%;
}
section.main .map iframe {
	height: 100%;
	width: 100%;
}

/* ---- main: media queries ---- */

@media (min-width: 380px) {
	section.main .pricing .card {
		flex: 1 0 300px;
	}
}
@media (min-width: 576px) {
	section.main .pricing .card {
		flex: 1 0 350px;
	}
	section.main .pricing .card:first-child {
		margin-right: 20px;
	}
	section.main .pricing .card:last-child {
		margin-left: 20px;
	}
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	.separator {
		height: 90px;
	}
	section.main .info-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	section.main .pricing .card-main--row {
		padding: 30px 30px;
	}
	section.main .btn {
		height: 70px;
		margin-top: 60px;
		width: 250px;
	}
	.slider-wrap.landscape .slider > div {
		height: 75vh;
	}
}
@media (min-width: 1200px) {
	section.main .info-grid {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
	section.main .pricing .card:first-child {
		margin-right: 40px;
	}
	section.main .pricing .card:last-child {
		margin-left: 40px;
	}
	section.main .btn {
		height: 80px;
		margin-top: 70px;
		width: 300px;
	}
}
@media (min-width: 1400px) {
	.separator {
		height: 110px;
	}
}
@media (min-width: 1999px) {
	section.main .info-grid {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	}
}

/* transition */

.transition-element {
	background-color: var(--blue5);
	display: flex;
	height: 100vh;
	left: -100vw;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999999;
}
.bg.temp {
	background-color: white;
	opacity: 1;
	z-index: 10;
}

/*
section.main .welcome .underline-spacer {
	height: 20px;
	width: 120%;
	border-radius: 50% 10% 100% 100%;
	border: solid 5px white;
	border-color: var(--blue2) transparent;
	opacity: 0;
	position: absolute;
	bottom: -20px;
	left: -15px;
}
*/

/* ---- footer ---- */

section.footer #id-6.content-bg {
	background-color: var(--gray6);
}
section.footer .footer-wrap {
	padding: 50px 0;
}
section.footer .contact {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
section.footer .contact-row {
	align-items: center;
	display: flex;
	padding: 20px 0;
}
section.footer .contact-row .header {
	color: var(--white);
	font-size: var(--fs-l);
}
section.footer .contact .icon,
section.footer .contact .icon img {
	width: 30px;
	height: 30px;
}
section.footer .contact .title {
	cursor: pointer;
	font-size: var(--fs-l);
	margin-left: 20px;
}
section.footer .contact .title a {
	color: var(--white);
}

@keyframes moving-arrow {
	0% {
		left: -12%;
	}
	50% {
		left: 0%;
	}
	100% {
		left: 12%;
	}
}
@-webkit-keyframes moving-arrow {
	0% {
		left: -12%;
	}
	50% {
		left: 0%;
	}
	100% {
		left: 12%;
	}
}
